* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}
/* 
.quiz {

  float: right;
} */


.welcome{
  font-size: 50px;
  /* margin: 50px;
  margin-top: 60px; */
  font-family: rowdies;
}

.head{
  height: 350px;
  background: linear-gradient(40deg, #3bc0fd 0%, #ffffff 70%);
}



 
  

}


.holding1{
  background-color: rgb(189, 130, 130);
  40deg
 


}

.container{
  /* background: linear-gradient(to bottom , #3bc0fd 10%, #ffffff 80%); */
  background-color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;

}


  input[type.radio]{

    
  }






  @media screen and (max-width: 1050px){
    .quiz{
      display:none}



  }