* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-fluid{
  height: 300px;

/* background: linear-gradient(50deg, #3e7683 10%,  #fcfeff 80%); */
}

body{
  background: linear-gradient(50deg, #3e7683 10%,  #fcfeff 80%);
}
 
  
img{
  width:60%; 
  height:12rem;
}

.row{
  display: flex;
  justify-content: space-between;
}

.comb{
  font-family:rowdies ;
  font-size:50px;
  
}

.The{
  color: white;
  font-size: 30px;
}

.container{
   /* background: linear-gradient(50deg, #2193b0 10%,  #6dd5ed 80%);  */
  background-color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: 4px 5px 5px 10px;
  margin-top: 20px;
  


}


.output{
  background-color: turquoise;
}


  /* input[type.radio]{

    
  } */





/* 
  @media screen and (max-width: 1050px){
    .quiz{
      display:none}
 


  }