* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

.quiz {

  float: right;
}


h1{
  margin-left: 100px;
  /* margin-top: 100px; */
}
.container {
  height: 1000px;
  /* background-color: aqua */
  background-image: url(./images/studio.jpg);
  background-size: cover;
  width: 1828px;
  height: 1600px;
  background-position: 0px 320px;
  background-repeat: no-repeat;
}




.holding {
  width: 400px;
  height: 300px;
  background-color: azure;
}

input .rrr {
  width: 200px;
}